@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

:root {
    --size: 1rem;
    --tile-percent: 5.5vw;
    --black: #DDD;
    --white: white;
    --first-color: #1e3d59;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Old Standard TT', serif;
    background-color: #f5f0e1;
    color: #1e3d59;
    position: relative;
    user-select: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 1.2rem;
}

.bench {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}



.piece {
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#chessboard {
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, var(--tile-percent));
    grid-template-rows: repeat(8, var(--tile-percent));
    justify-content: center;
}
#timer {
    font-size: 1.3rem;
}
#hud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 2rem;
}

.hud {
    display: inline-block;
}

.tile {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 4.5rem;
   cursor: pointer;
}

.tile:hover {
    background-color: burlywood;
}

.black {
    background-color: var(--black);
}

.white {
    background-color: var(--white);
}

.border {
    background-color: rgba(111, 111, 111, .5);
    cursor: pointer;
}


.move {
    background-color: rgba(0, 111, 0, .3) !important;
}

.move-black {
    background-color: rgba(0, 111, 0, .4) !important;
}

.origin {
    background-color: lightyellow;
}

.check {
    background-color: rgb(222,49,99) !important;
}

@media (max-width: 1200px) {
    #chessboard {
        grid-template-columns: repeat(8, 7vw);
        grid-template-rows: repeat(8, 7vw);
    }
}

@media (max-width: 1000px) {
    #chessboard {
        grid-template-columns: repeat(8, 9vw);
        grid-template-rows: repeat(8, 9vw);
    }
}

@media (max-width: 800px) {
    #chessboard {
        grid-template-columns: repeat(8, 10vw);
        grid-template-rows: repeat(8, 10vw);
    }
}

